extends layout 

block content 
    p Song Name - #{details.songname} 
    p Duration - #{details.songlength}
    p Description - #{details.description} 
    p Genre - #{details.genre}
    p Artist = #{details.artist.name}